/* ------------------- IMPORT ------------------- */
/* Chat */
@import url(https://getbricked.github.io/Hyprcord/Themes/chat.css);

/* Embed + Media related */
@import url(https://getbricked.github.io/Hyprcord/Themes/embed.css);

/* Home (Settings + Store etc) */
@import url(https://getbricked.github.io/Hyprcord/Themes/home.css);

/* Voice chat */
@import url(https://getbricked.github.io/Hyprcord/Themes/voicecall.css);

/* Settings */
@import url(https://getbricked.github.io/Hyprcord/Themes/settings.css);

/* ------------------- GLOBAL ------------------- */
/* Define border var */
:root {
    --border: var(--bordersize, 0px) solid var(--main-color);
}

/* Global margin (outside margin) */
.visual-refresh #app-mount .layers__960e4 {
    margin: var(--global-margin);
}

/* Top bar */
#app-mount .container_c48ade .bar_c38106 {
    border: var(--border);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0px !important;
}

/* User panel */
.visual-refresh .panels_c48ade {
    border-radius: 10px;
    border: var(--border);
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% - var(--global-margin)) !important;
}

/* Ctrl + K (Search bar) */
.visual-refresh .quickswitcher_ac6cb0 {
    border: var(--border);
}

/* Border user profile */
.outer_c0bea0 {
    border: var(--border);
}

/* Inbox (on top bar) */
.visual-refresh .recentMentionsPopout__95796 {
    border-radius: 10px;
    border: var(--border);
}

/* Vencord notification */
.vc-notification-root {
    border: var(--border);
}

.visual-refresh {
  /* list hover animations */
  .wrapper__2ea32 .link__2ea32
  /* channels */
  ,
  .container__91a9d
  /* members */
  ,
  .channel__972a0
  /* dms */
  ,
  .side_b3f026 .item_b3f026
  /* servers */
  ,
  .blobContainer_e5445c
  /* server icons */
  ,
  .listItemWrapper__91816
  /* server list */
  ,
  .messageListItem__5126c,
  /* messages */
  .listItemContents_fc004c,
  .outer_bf1984,
  .container__0f2e8

  /* stuff im too lazy to label */
  ,
  .outer_bf1984:is(.interactive_bf1984:hover, .active_bf1984) {
    transition: margin-left 0.2s ease;
    will-change: margin-left;
  }

  /* channels + servers*/
  .wrapper__2ea32:hover .link__2ea32,
  .side_b3f026 .item_b3f026:hover {
    margin-left: 20px;
    animation: hoverLeftBack 3s ease-in-out infinite;
  }

  /* members + dms*/
  .container__91a9d:hover,
  .channel__972a0:hover {
    margin-left: 28px;
    animation: hoverLeftBack 3s ease-in-out infinite;
  }

  /* list hover channel dot */
  .unread__2ea32 {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    transition: 0.2s ease;
    will-change: margin-left;
  }

  .wrapper__2ea32:hover .unread__2ea32 {
    margin-left: 12px;
    animation: hoverLeftBack 3s ease-in-out infinite;
  }

  /* server icons + server list */
  .blobContainer_e5445c:hover,
  .listItemWrapper__91816:hover {
    margin-left: 10px;
    animation: hoverLeftBack 3s ease-in-out infinite;
  }

  /* messages + other stuff im too lazy to label */
  .messageListItem__5126c:hover,
  .listItemContents_fc004c:hover,
  .outer_bf1984:hover {
    margin-left: 15px;
    animation: hoverLeftBack 3s ease-in-out infinite;
  }

  .container__0f2e8:hover {
    margin-left: 28px;
    animation: hoverLeftBack 3s ease-in-out infinite;
  }
}

/* oscillate animation */
@keyframes hoverLeftBack {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }
}
``` updated to add animation to member list activity
