/**
 * @name Global Communications Service
 * @author delete
 * @version WAN
 * @description Communications Service for Wide World I.
 * @source https://github.com/631373/631373.github.io
 * @website 631373.github.io
 * @invite NO
 */

/* IMPORT SOURCE (Themes) */
@import url(https://631373.github.io/forum.css);
@import url(https://631373.github.io/nameplate.css);
@import url(https://631373.github.io/server.css);
@import url(https://631373.github.io/global.css);

/* SETTINGS */
:root {

    /* Global margin for everything default is 20px */
    --global-margin: 20px;

    /* The size of the border default is 1px */
    --bordersize: 1px;
}

